# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CubeRealmServer.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


/CubeRealmServer/bin/
/CubeRealmServer/obj/
/CubeRealmServer/bin/*
/CubeRealmServer/obj/*

/Network/bin/
/Network/obj/
/Network/bin/*
/Network/obj/*

/NetworkAPI/bin/
/NetworkAPI/obj/
/NetworkAPI/bin/*
/NetworkAPI/obj/*
